body {
  background-color: #077054;
  text-align: center;
  /*font-family: 'Lato', sans-serif;*/
}

h1 {
  font-family: 'Lato', sans-serif;
  line-height: 50px;

}
#header h1 a{
  text-decoration: none;
  font-size: 3rem;
  color: #99fa99;
  font-weight: normal;
}
#header h1 a:hover{

}
#header span{
  display: block;
  color: #B6D8CF;
  font-family: 'Nixie One', cursive;
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 35px;
  font-weight: lighter;
}
#header ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
#header ul li{
  display: inline;
  line-height: 30px;
}
#header ul li a{
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  color: #B6D8CF;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 38px;
}
#header ul li a:hover{
  color: #D3A3FF;
}
#body{
  margin: 0 auto;
  background-color: #ffffff;
  padding: 45px 40px 46px 40px;
  max-width: 880px;
  min-height: 825px;
  overflow: hidden;
}
#body div#tagline {
  max-width: 510px;
  float: left;
  margin: 110px 0px 0px 25px;
}
#body div#tagline h1{
  background-image: url(../images/bg-separator.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  margin: 0;
  font-family: 'Nixie One', cursive;
  font-size: 6.25rem;
  color: #21a51e;
  text-transform: uppercase;
  font-weight: normal;
  padding-bottom: 55px;
  line-height: 100px;
}
#body div#tagline p{
  font-family: 'Nixie One', cursive;
  font-size: 6.25rem;
  color: #21a51e;
  text-align: center;
  font-weight: normal;
  margin: 30px 0 0 0;
}
#body img{
  float: right;
  margin: 74px 55px 35px 0;
  max-width: 100%;
  width: auto;
}
#footer{
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
  padding: 30px 0 60px;
}
#footer div{
  float: left;
  width: 500px;
}
#footer span{
  display: block;
  font-family: 'Lato', sans-serif;
  text-align: left;
  font-size: 1.425rem;
  color: #99fa99;
  font-weight: normal;
}
#footer p{
  display: block;
  font-family: 'Lato', sans-serif;
  text-align: left;
  font-size: 0.75rem;
  color: #B6D8CF;
}
#footer div#connect{
  float: right;
  overflow: hidden;
  width: auto;
}
#footer div#connect a{
  text-decoration: none;
}
.socialiconcolorchange{
  color: #99fa99;
  font-size: 2.3rem;
  padding: 0 0 0 15px;
}
